/* Centered Layout */
#fullcenter {
  position:absolute;
  left:50%;
  top:50%;
  width:480px;
  height:480px;
  margin-left:-240px; 
  margin-top:-240px;
  text-align: center;
}

#fullcenter a img {
  border: 0;
}

img { border: 0; }

